@model string

@{
    ViewBag.Title = "Congratulations!";
}

<h2>Congratulations!</h2>

<p>Congratulations! You have succesfully completed Introduction to Haka.</p>

<p>Your final score is @Model. If you are not satisfied with your score, you can repeat the course as
    many times as you like.</p>

<a class="btn btn-default" href="@Url.Action("Index")">Return to University &raquo;</a>