@{
  ViewBag.Title = "Information";
}

<h2>@ViewBag.Title</h2>

<p>Welcome to the AlethiCorp database.</p>

<p>Use the menu links above to access information.</p>

<p>You will only be able to access information for which you have been cleared.</p>