<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alethicorp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>alethicorp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlethiCorp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlethiCorp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AlethiCorp.DAL.DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mfsvuo947g.database.windows.net,1433;Initial Catalog=AlethiCAmd0tDJ6c;User ID=Information@mfsvuo947g;Password=Poli101729" Name="Data Source=tcp:mfsvuo947g.database.windows.net,1433;Initial Catalog=AlethiCAmd0tDJ6c;User Id=Information@mfsvuo947g;Password=Poli101729" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlethiCorp.DAL.DatabaseContext, AlethiCorpRevised" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mfsvuo947g.database.windows.net,1433;Initial Catalog=AlethiCAmd0tDJ6c;User ID=Information@mfsvuo947g;Password=Poli101729" Name="Data Source=tcp:mfsvuo947g.database.windows.net,1433;Initial Catalog=AlethiCAmd0tDJ6c;User Id=Information@mfsvuo947g;Password=Poli101729" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AlethiCorp.Models.ApplicationDbContext, AlethiCorpRevised" MigrationConfiguration="AlethiCorp.Migrations.Configuration, AlethiCorpRevised" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AlethiCorp.DAL.DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mfsvuo947g.database.windows.net,1433;Initial Catalog=AlethiCAmd0tDJ6c;User Id=Information@mfsvuo947g;Password=Poli101729</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mfsvuo947g.database.windows.net,1433;Initial Catalog=AlethiCAmd0tDJ6c;User Id=Information@mfsvuo947g;Password=Poli101729</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AlethiCorp.DAL.DatabaseContext" />
  </ItemGroup>
</Project>