@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>The End</title>
</head>
<body>
  <p>
    <img src='../../Images/ThelmaAndLouise.jpg' />
  </p>
  <div>
    @if (Request.IsAuthenticated)
    {
      using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
      {
        @Html.AntiForgeryToken()
        <p><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a> | @Html.ActionLink("Restart game", "ResetAll", "Internal")</p>
      }
    }
  </div>
</body>
</html>