@{
    ViewBag.Title = "ApplyNotQualified";
}

<h3>You are not qualified to apply for this position. Please select another.</h3>

<p><a class="btn btn-default" href="@Url.Action("Careers")">&laquo Back</a></p>