@{
    ViewBag.Title = "Values";
}

<h3>At AlethiCorp all employees are taught to follow our three core values</h3>

@if (ViewBag.Comply)
{
  <table class="table">
    <tr>
      <td>
        <h3>Obedience</h3>
      </td>
      <td>
        <img src="../../Images/Eye.png" width="95" height="50" />
      </td>
    </tr>
    <tr>
      <td>
        <h3>Obedience</h3>
      </td>
      <td>
        <img src="../../Images/Eye.png" width="95" height="50" />
      </td>
    </tr>
    <tr>
      <td>
        <h3>Obedience</h3>
      </td>
      <td>
        <img src="../../Images/Eye.png" width="95" height="50" />
      </td>
    </tr>
  </table>
}
else
{
  <table class="table">
      <tr>
          <td>
              <h3>Aletheia</h3>
          </td>
          <td>
              <p>
                  As the value that gives our company its name, Aletheia is a multifaceted concept, which represents many aspects of what the company stands for.
                  On the surface the word simply means truth, and thus represents our desire for truthfulness, and the pursuit of knowledge and wisdom.
              </p>

              <p>
                  However, there is much more to Aletheia than a mere accurate description of facts. The word can also be translated as "unconcealedness" or "disclosure".
                  As the philosopher Martin Heidegger pointed out, Aletheia represents not just truth in the traditional sense, but also the disclosure that happens when the
                  secrets of people are revealed and made intelligible to us.
              </p>

              <p>At AlethiCorp we strive to pull back the veils of ignorance that people try to use to obscure the light of truth. A light that rightfully belongs to everyone.</p>
          </td>
      </tr>
      <tr>
          <td>
              <h3>Integrity</h3>
          </td>
          <td>
              <p>
                  Moral integrity is one of the most important principles taught to our employees. No matter how qualificed, an AlethiCorp employee is worthless if he can not be
                  trusted to use his skills in the service of what is right and good.
              </p>

              <p>
                  At AlethiCorp, we believe that high moral standards are best obtained by following Kant's Categorical Imperative: Every action must obey a general rule.
                  The general rule is contained in the AlethiCorp Ethics Guidelines, which are taught to all employees during the on-boarding process.
              </p>
          </td>
      </tr>
      <tr>
          <td>
              <h3>Magnanimity</h3>
          </td>
          <td>
              <p>
                  The golden mean between vanity and self-deprecation, magnanimity teaches us to take pride in our work. To constantly strive to better ourselves, without
                  ever becoming arrogant, or resting on our laurels.
              </p>

              <p>
                  Our clients can rest assured that all AlethiCorp employees will do their utmost to make their work the best it can be, even if brings them no
                  personal benefit. A job well done is its own reward.
              </p>

              <p>
                  "If I were a tailor, I'd make it my pride<br />
                  The best of all tailors to be;<br />
                  If I were a tinker, no tinker beside<br />
                  Should mend an old kettle like me."
              </p>
          </td>
      </tr>
  </table>
}