@{
    ViewBag.Title = "Final";
}

<p>Day 5 has not yet been implemented.<p>

<p>You can reset the game state at any time, by navigating to @Html.ActionLink("/Internal/Reset", "Reset", "Internal").</p>
